# GitPortable
GitPortable/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs / temporary files
*.log
*.tmp
*.bak
*.env

# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo

# Databases / logs
*.db
*.json
*.txt

# Other temporary folders
DWG_to_PDF/
